body {margin:0;}

.navigation{
  overflow: hidden;
  background-color: #1C589C;
  text-align: center;
}

.navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #5294e0;
  color: black;
}

.navigation .active {
    color: white;
}

.panoram-pic {
    width: 100%;
    height: 100px;
    background-color: black;
}
